/**
 * @Author: Ali
 * @Date:   2019-12-06T12:52:11+01:00
 * @Last modified by:   Ali
 * @Last modified time: 2019-12-06T13:15:47+01:00
 */

.App {
  text-align: center;
  font-size: 1.5em;
}

.questions {
  margin-top: 20px;
}
.single {
  width:500px;
  margin: 12px;
  padding: 5px;
  background-color: #998;
  color:white;
  border:1px solid red;
  box-shadow: 5px 5px 4px 8px black;
  cursor: pointer;
}
.single:hover{
  background-color: #0298;
  color:white;
  border:1px solid red;
  box-shadow: 5px 5px 4px 8px red;
  font-size: 2em;
}
